* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #0755e6;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #000000;
    margin: auto;
    padding: 15px;
    width: 350px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: #000;
    background-color: #a50e03;
  }
  
  .card__header {
    margin: 0 0 15px 0;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(15, 85, 235);
  }
  
  .card__image {
    height: 300px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
  }
  
  .card__image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .info {
    margin: auto;
    padding: 10px;
    border: 1px solid rgb(224, 11, 11);
    border-radius: 10px;
    background-color: rgb(14, 46, 189);
  }
  
  .info__decscription {
    margin: 15px 0;
    line-height: 1.6;
  }
  
  #info__listItem {
    margin: 15px 0;
    display: none;
  }
  
  #info__listItem span {
    margin: 15px 0;
  }
  
  .info__quote span {
    font-weight: bold;
  }